<!DOCTYPE html>
<html>
<head>
<style>
p.uppercase {
    text-transform: uppercase;
}

p.lowercase {
    text-transform: lowercase;
}

p.capitalize {
    text-transform: capitalize;
}
</style>
</head>
<body>

<p class="uppercase">Test.</p>
<p class="lowercase">Test.</p>
<p class="capitalize">More Test!</p>

</body>
</html>
